## 1. Introduction
Get to know to Prod Alloc Kotabatak:

    Pada sheet ini melakukan converting "Decimal Date" to "dd-mm-yyyy" dan perhitungan rerata Qprod dan Qinj (stb/d) setiap bulan. Berikut datanya:
    
    WELLNAME: Nama well (UWI Format);
    
    DATE: Decimal Date (1980.56);
    
    CUMOPIL: cumulative oil production, STB/Month;
    
    CUMWATP: cumulative water production, STB/Month;

    CUMWATI: cumulative water injection, STB/Month;

    CUMLIQP: cumulative liquid production, STB/Month;

In [1]:
#Import Packages
import pandas as pd
from math import floor, ceil
from datetime import datetime, timedelta

In [2]:
#Define decimal year to DD-MM-YY (Include leap year)
def decimal_year_to_datetime_with_leap_year(t):
    year_approx = datetime(ceil(t), 1, 1) - datetime(floor(t), 1, 1)
    dt = datetime(floor(t), 1, 1) + timedelta((t - floor(t))*year_approx.days)
    return dt

In [3]:
#Import decimal date data
df = pd.read_csv("data/KB_HM_2016.csv", nrows=226950)

#Define the data to convert
df.DATE = df.DATE.apply(decimal_year_to_datetime_with_leap_year)
df.DATE = df.set_index("DATE").to_period("M").to_timestamp('M').reset_index().DATE.dt.strftime("%d-%b-%y")

#Import new data (2016)
df2 = pd.read_csv("data/KB_HM_2016.csv", skiprows=226950, names=df.columns)
df = df.append(df2).reset_index()

In [4]:
#Make a new columns
df['DAY'] = df.DATE
#And define based on calender date
df.DAY = pd.to_datetime(df.DAY)
df['DAY'] = df.DAY.dt.day

In [5]:
#Calculate Prod Rate and Inj Rate
df['CUMOILP(stb/d)'] = df.CUMOILP/df.DAY
df['CUMWATP(stb/d)'] = df.CUMWATP/df.DAY
df['CUMWATI(stb/d)'] = df.CUMWATI/df.DAY
df['CUMLIQP(stb/d)'] = df.CUMLIQP/df.DAY

In [6]:
df.head()

,index,WELLNAME,DATE,CUMOILP,CUMWATP,CUMWATI,CUMLIQP,DAY,CUMOILP(stb/d),CUMWATP(stb/d),CUMWATI(stb/d),CUMLIQP(stb/d)
0,0,KB001,31-May-71,0.0,0.0,0.0,0.0,31,0.0,0.0,0.0,0.0
1,1,KB002,31-May-71,0.0,0.0,0.0,0.0,31,0.0,0.0,0.0,0.0
2,2,KB003,31-May-71,0.0,0.0,0.0,0.0,31,0.0,0.0,0.0,0.0
3,3,KB004,31-May-71,0.0,0.0,0.0,0.0,31,0.0,0.0,0.0,0.0
4,4,KB005,31-May-71,0.0,0.0,0.0,0.0,31,0.0,0.0,0.0,0.0

In [7]:
df.tail()

,index,WELLNAME,DATE,CUMOILP,CUMWATP,CUMWATI,CUMLIQP,DAY,CUMOILP(stb/d),CUMWATP(stb/d),CUMWATI(stb/d),CUMLIQP(stb/d)
232471,5521,KB452D1,31-Oct-16,46402.7005,229969.4325,0.0,276372.1330,31,1496.861306,7418.368790,0.0,8915.230097
232472,5522,KB453D1,31-Oct-16,76973.0274,192803.9479,0.0,269776.9753,31,2483.000884,6219.482190,0.0,8702.483074
232473,5523,KB454D1,31-Oct-16,262577.9238,265612.4252,0.0,528190.3490,31,8470.255606,8568.142748,0.0,17038.398355
232474,5524,KB455D1,31-Oct-16,14981.2197,789781.7446,0.0,804762.9643,31,483.265152,25476.830471,0.0,25960.095623
232475,5525,KB456H1,31-Oct-16,45353.9336,485585.5981,0.0,530939.5317,31,1463.030116,15664.051552,0.0,17127.081668

In [8]:
#Drop Useless Columns
df.drop(columns = (['index']), inplace = True)

In [9]:
df.head()

,WELLNAME,DATE,CUMOILP,CUMWATP,CUMWATI,CUMLIQP,DAY,CUMOILP(stb/d),CUMWATP(stb/d),CUMWATI(stb/d),CUMLIQP(stb/d)
0,KB001,31-May-71,0.0,0.0,0.0,0.0,31,0.0,0.0,0.0,0.0
1,KB002,31-May-71,0.0,0.0,0.0,0.0,31,0.0,0.0,0.0,0.0
2,KB003,31-May-71,0.0,0.0,0.0,0.0,31,0.0,0.0,0.0,0.0
3,KB004,31-May-71,0.0,0.0,0.0,0.0,31,0.0,0.0,0.0,0.0
4,KB005,31-May-71,0.0,0.0,0.0,0.0,31,0.0,0.0,0.0,0.0

In [10]:
df.to_csv('data/KB_HM_2016')